.skill-bar__inner-bar {
  background-color: #f24c4c;
  border-radius: 3px;
}

.skill-bar__outer-bar {
  background-color: #d3d3d3;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.skill-bar__skill-name {
  color: #fff;
  width: 25%;
  padding-right: 1rem;
  text-align: right;
  width: 100%;
}
