.social-container {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f24c4c;
  border-radius: 5px;
  line-height: 80px;
  transition: transform 0.3s, background-color 0.3s;
}

.social-container:hover {
  transform: scale(1.1);
  background-color: #fd2222;
}
