.navbar-collapse--custom {
  background-color: #393e46;
}

.navbar--custom {
  background-color: #393e46;
  height: 55px;
}

.nav-item--custom {
  font-size: 1.5rem !important;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar-toggle--custom {
  z-index: 1;
}

.active {
  border-bottom: solid;
  border-color: #f24c4c;
  border-width: 4px;
}
